### Data Analysis with Python: Zero to Pandas - Course Project Guidelines
#### (remove this cell before submission)

Make submissions here:  https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project

This is the starter notebook for the course project for [Data Analysis with Python: Zero to Pandas](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas). For the course project, you will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project (you can also start with an empty new notebook). Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations whererver possible using Markdown cells.

#### Step 1: Select a real-world dataset 

- Find and download an interesting real-world dataset (see the Recommended Datasets section below for ideas). 

- The dataset should contain tabular data (rowsn & columns), preferably in CSV/JSON/XLS or other formats that can be read using Pandas. If it's not in a compatible format, you may have to write some code to convert it to a desired format.
- The dataset should contain at least 3 columns and 150 rows of data. You can also combine data from multiple sources to create a large enough dataset.


#### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


#### Step 3: Perform exploratory Analysis & Visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

#### Step 4: Ask & answer questions about the data

- Ask at least 5 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


#### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis


#### Step 6: Make a submission & share your work

- Upload your notebook to your Jovian.ml profile using `jovian.commit`.
- **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684

- Browse through projects shared by other participants and give feedback


#### (Optional) Step 7: Write a blog post

- A blog post is a great way to present and showcase your work.  
- Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
- Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
- Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml



### Recommended Datasets


Use the following resources for finding interesting datasets:

- [Recommended datasets for the course project](https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711)
- [Kaggle datasets](https://www.kaggle.com/datasets)
- [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php)
- [awesome-public-datasets](https://github.com/awesomedata/awesome-public-datasets)
- [Google Dataset Search](https://datasetsearch.research.google.com)
- [Your personal data from online services](https://www.popsci.com/download-digital-personal-information/)



### Example Projects

Refer to these projects for inspiration:

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51) by Kartik Godawat

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis) by Prajwal Prashanth

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b) by Aakanksha N S

* [2019 State of Javscript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)


### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 5 questions about the dataset
* Your submission must include at least 5 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted for somewhere else.


**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Solar India

An analysis of two solar plants in India, based on the awesome Solar Power Generation Dataset.

In [1]:
project_name = "solar-india" 
filename=project_name+".ipynb"

** Install and import all the

In [2]:
!pip install jovian opendatasets gitpython  -U -q

In [3]:
import jovian
import opendatasets as od
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
from git import Repo

In [4]:
def commit():
    jovian.commit(project=project_name, filename=filename, git_commit=True)
    git_dir = os.getcwd()+ "/.git"
    if(os.path.exists(git_dir)):
        try:
            repo = Repo(git_dir)
            origin =repo.remote(name="origin")
            origin.push()
            print("Pushed Sucessfully!")
        except:
            print("Error occured while pushing repository to origin")
    else:
        print("Not in a git repository, skipping")

## Data Preparation and Cleaning
  
  **TODO:**  
    
1.   Download the dataset
2.   Import into Pandas
3.   Clean redundant data
4.   Create Class for each plant

In [ ]:
# Download the dataset from Kaggle using opendatasets. Needs a Kaggle Account. 
#od.download("https://www.kaggle.com/anikannal/solar-power-generation-data", data_dir="/content/datasets")

In [ ]:
# Import the raw data into Pandas
plant_1_generation_raw = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Generation_Data.csv")
plant_1_weather_sensor_raw = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv")
plant_2_generation_raw = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Generation_Data.csv")
plant_2_weather_sensor_raw = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv")

In [ ]:
# Create Plant 1 class
class plant1:
  id=4135001
  sensor_panel_id="HmiyD2TTLFNqkNe"
  generation_df = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Generation_Data.csv").drop(columns=["PLANT_ID"])
  weather_sensor_df = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv").drop(columns=["PLANT_ID","SOURCE_KEY"])
  def combined_df():
    temp1 = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Generation_Data.csv")
    temp2 = pd.read_csv("content/datasets/solar-power-generation-data/Plant_1_Weather_Sensor_Data.csv").drop(columns=["SOURCE_KEY"])
    combined = pd.merge(temp1,temp2,on="PLANT_ID").drop(columns="PLANT_ID")
    return combined
  df=combined_df()

In [28]:
plant1.df

,DATE_TIME_x,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,DATE_TIME_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15 00:00:00,25.184316,22.857507,0.0
1,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15 00:15:00,25.084589,22.761668,0.0
2,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15 00:30:00,24.935753,22.592306,0.0
3,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15 00:45:00,24.846130,22.360852,0.0
4,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,2020-05-15 01:00:00,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...,...,...
218851591,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.0,7363272.0,2020-06-17 22:45:00,22.150570,21.480377,0.0
218851592,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.0,7363272.0,2020-06-17 23:00:00,22.129816,21.389024,0.0
218851593,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.0,7363272.0,2020-06-17 23:15:00,22.008275,20.709211,0.0
218851594,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.0,7363272.0,2020-06-17 23:30:00,21.969495,20.734963,0.0
218851595,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.0,7363272.0,2020-06-17 23:45:00,21.909288,20.427972,0.0

In [29]:
# Create Class for plant 2
class plant2:
  id =4136001
  sensor_panel_id = "iq8k7ZNt4Mwm3w0"
  generation_df = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Generation_Data.csv").drop(columns=["PLANT_ID"])
  weather_sensor_df = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv").drop(columns=["PLANT_ID","SOURCE_KEY"])
  def combined_df():
    temp1 = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Generation_Data.csv")
    temp2 = pd.read_csv("content/datasets/solar-power-generation-data/Plant_2_Weather_Sensor_Data.csv").drop(columns=["SOURCE_KEY"])
    combined = pd.merge(temp1,temp2,on="PLANT_ID").drop(columns="PLANT_ID")
    return combined
  df=combined_df()

In [30]:
plant2.df

,DATE_TIME_x,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,DATE_TIME_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,2020-05-15 00:00:00,27.004764,25.060789,0.0
1,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,2020-05-15 00:15:00,26.880811,24.421869,0.0
2,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,2020-05-15 00:30:00,26.682055,24.427290,0.0
3,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,2020-05-15 00:45:00,26.500589,24.420678,0.0
4,2020-05-15 00:00:00,4UPUqMRk7TRMgml,0.0,0.0,9425.0,2429011.0,2020-05-15 01:00:00,26.596148,25.088210,0.0
...,...,...,...,...,...,...,...,...,...,...
220627777,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,2020-06-17 22:45:00,23.511703,22.856201,0.0
220627778,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,2020-06-17 23:00:00,23.482282,22.744190,0.0
220627779,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,2020-06-17 23:15:00,23.354743,22.492245,0.0
220627780,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,2020-06-17 23:30:00,23.291048,22.373909,0.0
220627781,2020-06-17 23:45:00,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0,2020-06-17 23:45:00,23.202871,22.535908,0.0

Update in Jovian

In [27]:
commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "charitarthchugh/solar-india" on https://jovian.ai/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Git repository identified. Performing git commit...
[jovian] Attaching records (metrics, hyperparameters, dataset etc.)
[jovian] Committed successfully! https://jovian.ai/charitarthchugh/solar-india
Pushed Sucessfully

## Exploratory Analysis and Visualization

**TODO**

1.   List item
2.   List item

In [ ]:
jovian.commit()

## Asking and Answering Questions

**TODO**

1.   List item
2.   List item

In [ ]:
import jovian

In [ ]:
jovian.commit()

## Inferences and Conclusion

**TODO**

1.   List item
2.   List item

In [ ]:
import jovian

In [ ]:
jovian.commit()

## References and Future Work

**TODO**

1.   List item
2.   List item

In [ ]:
import jovian

In [ ]:
jovian.commit()