### Data Analysis with Python: Zero to Pandas - Course Project Guidelines
#### (remove this cell before submission)

Make submissions here:  https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project

This is the starter notebook for the course project for [Data Analysis with Python: Zero to Pandas](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas). For the course project, you will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project (you can also start with an empty new notebook). Focus on the documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

#### Step 1: Select a real-world dataset 

- Find and download an interesting real-world dataset (see the Recommended Datasets section below for ideas). 

- The dataset should contain tabular data (rows & columns), preferably in CSV/JSON/XLS or other formats that can be read using Pandas. If it's not in a compatible format, you may have to write some code to convert it to a desired format.
- The dataset should contain at least 3 columns and 150 rows of data. You can also combine data from multiple sources to create a large enough dataset.


#### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


#### Step 3: Perform exploratory Analysis & Visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

#### Step 4: Ask & answer questions about the data

- Ask at least 5 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple datasets and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


#### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis


#### Step 6: Make a submission & share your work

- Upload your notebook to your Jovian.ml profile using `jovian.commit`.
- **Make a submission here**: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/course-project
- Share your work on the forum: https://jovian.ml/forum/t/course-project-on-exploratory-data-analysis-discuss-and-share-your-work/11684

- Browse through projects shared by other participants and give feedback


#### (Optional) Step 7: Write a blog post

- A blog post is a great way to present and showcase your work.  
- Sign up on [Medium.com](https://medium.com) to write a blog post for your project.
- Copy over the explanations from your Jupyter notebook into your blog post, and [embed code cells & outputs](https://medium.com/jovianml/share-and-embed-jupyter-notebooks-online-with-jovian-ml-df709a03064e)
- Check out the Jovian.ml Medium publication for inspiration: https://medium.com/jovianml



### Recommended Datasets


Use the following resources for finding interesting datasets:

- [Recommended datasets for the course project](https://jovian.ml/forum/t/recommended-datasets-for-course-project/11711)
- [Kaggle datasets](https://www.kaggle.com/datasets)
- [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php)
- [awesome-public-datasets](https://github.com/awesomedata/awesome-public-datasets)
- [Google Dataset Search](https://datasetsearch.research.google.com)
- [Your personal data from online services](https://www.popsci.com/download-digital-personal-information/)



### Example Projects

Refer to these projects for inspiration:

* [Analyzing your browser history using Pandas & Seaborn](https://medium.com/free-code-camp/understanding-my-browsing-pattern-using-pandas-and-seaborn-162b97e33e51)

* [WhatsApp Chat Data Analysis](https://jovian.ml/PrajwalPrashanth/whatsapp-chat-data-analysis)

* [Analyzing Covid-19 data using Pandas](https://jovian.ml/aakashns/python-pandas-data-analysis) 

* [Understanding the Gender Divide in Data Science Roles](https://medium.com/datadriveninvestor/exploratory-data-analysis-eda-understanding-the-gender-divide-in-data-science-roles-9faa5da44f5b)

* [2019 State of Javascript Survey Results](https://2019.stateofjs.com/demographics/)

* [2020 Stack Overflow Developer Survey Results](https://insights.stackoverflow.com/survey/2020)


### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 3 columns and 150 rows of data
* You must ask and answer at least 5 questions about the dataset
* Your submission must include at least 5 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted from somewhere else.


**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Solar India

An analysis of two solar plants in India, based on the awesome Solar Power Generation Dataset.

In [1]:
project_name = "solar-india" 
filename=project_name+".ipynb"

Install and import all the needed packages

In [2]:
!pip install jovian opendatasets gitpython  -U -q

WARNING: You are using pip version 20.2.4; however, version 20.3.1 is available.
You should consider upgrading via the '/usr/bin/python3.8 -m pip install --upgrade pip' command.

In [3]:
import jovian
import opendatasets as od
import matplotlib as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os
from os.path import isfile, join
from git import Repo
%matplotlib inline

#### Commit method
This is a commit method that will simultaniously upload to [jovian.ai](https://jovian.ai/charitarthchugh/solar-india) and [github.com](https://github.com/charitarthchugh/solar-india).
This will only update in Github when there is a Git repository present because the Jovian library's commit feature only works when a git repository is detected. This function is able to push directly to the origin repository from the remote.

In [4]:
def commit():
    """

    :return: None
    """
    path=os.getcwd()+ "/data"
    files=[f for f in os.listdir(path) if isfile(join(path, f))]
    jovian.commit(
        project=project_name, 
        filename=filename,
        files=files,
        git_commit=True,
        environment="conda")
    # We have to perform a manual check ourselves if there is a git repository present.
    git_dir = os.getcwd()+"/.git"
    if os.path.exists(git_dir):
        #
        # noinspection PyBroadException
        try:
            repo = Repo(git_dir)
            origin = repo.remote(name="origin")
            origin.push()
            print("Pushed Successfully!")
        # If there is a Failure in pushing to origin.
        except:
            print("Error occurred while pushing repository to origin")
    else:
        print("Not in a git repository, skipping")

## Data Preparation and Cleaning
  
**TODO:**
    
1.   Download the dataset
2.   Import into Pandas
3.   Clean redundant data
4.   Create Class for each plant

In [5]:
# Download the dataset from Kaggle using opendatasets. Needs a Kaggle Account. 
#od.download("https://www.kaggle.com/anikannal/solar-power-generation-data", data_dir=os.getcwd().join("/data"))

### Dataset Information

Here is the dataset column information, split into two sections- Generation and Weather.

**Generation Data**

| Field                                | Description                                                                                          |
|:------------------------------------:|:---------------------------------------------------------------------------------------------------- |
| `DATE_TIME`                          | Date and time for each observation. Observations recorded at 15 minute intervals.                    |
| `PLANT_ID`                           | Unique numerical ID for each solar plant.                                                            |
| `SOURCE_KEY` (used as `INVERTER_ID`) | Unique alphanumerical ID for each inverter                                                           |
| `DC_POWER`                           | Amount of DC power generated by the inverter `SOURCE_KEY`, in kilowatts, in this 15 minute interval. |
| `AC_POWER`                           | Amount of AC power generated by the inverter `SOURCE_KEY`, in kilowatts, in this 15 minute interval. |
| `TOTAL_YEILD`                        | This is the total yield for the inverter till that point in time. Does not start at 0.               |

**Weather Data**

| Field                                      | Description                                                                                                                 |
|:------------------------------------------:| --------------------------------------------------------------------------------------------------------------------------- |
| `DATE_TIME`                                | Date and time for each observation. Observations recorded at 15 minute intervals.                                           |
| `PLANT_ID`                                 | Unique numerical ID for each solar plant.                                                                                   |
| `SOURCE_KEY`   (used as `sensor_panel_id`) | Stands for the sensor panel id. This will be common for the entire file because there's only one sensor panel for the plant |
| `AMBIENT_TEMPERATURE`                      | This is the ambient temperature at the plant.                                                                               |
| `MODULE_TEMPERATURE`                       | There's a module (solar panel) attached to the sensor panel. This is the temperature reading for that module.               |
| `IRRIDATION`                               | Amount of irradiation for the 15 minute interval.                                                                           |

### Pandas Library
I am going to be using the [Pandas](https://pandas.pydata.org) library to interact with my dataset.
It is a high performance library for Python to interact with datasets of many sizes that

In [6]:
def weather_sensor_df(dataset):
    tmp=pd.core.frame.DataFrame
    if dataset==1:
        tmp=pd.read_csv(os.getcwd()+("/data/solar-power-generation/Plant_1_Weather_Sensor_Data.csv"))
    elif dataset==2:
        tmp=pd.read_csv(os.getcwd()+("/data/solar-power-generation/Plant_2_Weather_Sensor_Data.csv"))
    # Drop SOURCE_KEY too for same reason--> now it is sensor_panel_id, a property of this class
    tmp.drop(columns=["PLANT_ID","SOURCE_KEY"], inplace=True)
    return tmp
def generation_df(dataset):
    tmp=pd.core.frame.DataFrame
    if dataset==1:
        tmp=pd.read_csv(os.getcwd()+("/data/solar-power-generation/Plant_1_Generation_Data.csv"))
    elif dataset==2:
        tmp=pd.read_csv(os.getcwd()+("/data/solar-power-generation/Plant_2_Generation_Data.csv"))
    # Have already saved the PLANT_ID as id, a property of this class
    tmp.drop(columns=["PLANT_ID"], inplace=True)
    # Rename SOURCE_KEY to INVERTER_ID to make it clearer
    tmp.rename(columns={ "SOURCE_KEY":"INVERTER_ID"},inplace=True)
    return tmp

In [7]:
# Create Plant 1 class
class Plant1:
    id = 4135001
    sensor_panel_id = "HmiyD2TTLFNqkNe"
    generation_df = generation_df(1)
    weather_sensor_df = weather_sensor_df(1)

In [8]:
plant1=Plant1()
plant1.generation_df

,DATE_TIME,INVERTER_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0
1,15-05-2020 00:00,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0
2,15-05-2020 00:00,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0
3,15-05-2020 00:00,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0
4,15-05-2020 00:00,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0
...,...,...,...,...,...,...
68773,17-06-2020 23:45,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0
68774,17-06-2020 23:45,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0
68775,17-06-2020 23:45,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0
68776,17-06-2020 23:45,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0
68777,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0

In [9]:
# Create Class for plant 2
class Plant2:
    id = 4136001
    sensor_panel_id = "iq8k7ZNt4Mwm3w0"
    generation_df = generation_df(2)
    weather_sensor_df = weather_sensor_df(2)

In [10]:
plant2=Plant2()
plant2.weather_sensor_df

,DATE_TIME,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,27.004764,25.060789,0.0
1,2020-05-15 00:15:00,26.880811,24.421869,0.0
2,2020-05-15 00:30:00,26.682055,24.427290,0.0
3,2020-05-15 00:45:00,26.500589,24.420678,0.0
4,2020-05-15 01:00:00,26.596148,25.088210,0.0
...,...,...,...,...
3254,2020-06-17 22:45:00,23.511703,22.856201,0.0
3255,2020-06-17 23:00:00,23.482282,22.744190,0.0
3256,2020-06-17 23:15:00,23.354743,22.492245,0.0
3257,2020-06-17 23:30:00,23.291048,22.373909,0.0
3258,2020-06-17 23:45:00,23.202871,22.535908,0.0

Update in Jovian

In [17]:
commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "charitarthchugh/solar-india" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Git repository identified. Performing git commit...
[jovian] Attaching records (metrics, hyperparameters, dataset etc.)
[jovian] Committed successfully! https://jovian.ml/charitarthchugh/solar-india
Pushed Successfully!

## Exploratory Analysis and Visualization

**TODO**
Answer exploratory questions.
1.   What is the distribution of ambient temperature in May-June 2015 for each of the solar plants?
2.   How many unique inverters are there for each plant? On average, how much energy(DC and AC) does each inverter generate during a period of 34 days?  
3.   What is the average total yeild for the inverters at each plant?

### Question 2: How many unique inverters are there for each plant? On average, how much energy(DC and AC) does each inverter generate during a period of 34 days?

**STEPS**
1. Get and save the list of unique inverters using `pd.dataframe.unique` plant

In [12]:
plant_1_inverters = np.array(plant1.generation_df.INVERTER_ID.unique())
plant_2_inverters = np.array(plant2.generation_df.INVERTER_ID.unique())

In [ ]:
commit()

## Asking and Answering Questions

**TODO**

1.   [Can we identify faulty or suboptimally performing equipment during the time period?](https://www.kaggle.com/anikannal/solar-power-generation-data?select=Plant_2_Weather_Sensor_Data.csv)
2.   [Can we identify the need for panel cleaning/maintenance during the time period?](https://www.kaggle.com/anikannal/solar-power-generation-data?select=Plant_2_Weather_Sensor_Data.csv)

In [ ]:
commit()

## Inferences and Conclusion

**TODO**

1.   List item
2.   List item

In [ ]:
commit()

## References and Future Work

**TODO**

1.   List item
2.   List item

In [ ]:
commit()